{% extends 'ecom/customer_base.html' %}
{% load widget_tweaks %}s
{% block content %}

<style>
  .form {
    padding: 30px 40px;
}

.text-orange {
  color: orange;
}

.text-colors {
    color: #777;
}

.admin-cards {
    background-color: #f4f4f4 !important;
}

.form-control:focus {
    box-shadow: none !important;
    border: 2px solid orange !important;
}

.submit-btns {
    color: wheat !important;
    background-color: orange !important;
}

.submit-btns:focus {
    box-shadow: none !important;
}
</style>

<div class="container col-xl-5 col-lg-6 col-md-8 col-sm-10 p-5">
  <div class="card admin-cards text-colors">
      <form class="px-5 pb-5" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <h2 class="text-center p-3 mt-4 text-orange">Profile Edit</h2>
          <div class="form-group p-3 m-3">
              <label>First Name</label>
              {% render_field userForm.first_name class="form-control" autocomplete="off" placeholder="First Name" %}
            </div>
            <div class="form-group p-3 m-3">
              <label>Last Name</label>
              {% render_field userForm.last_name class="form-control" autocomplete="off" placeholder="Last Name" %}
            </div>
            <div class="form-group p-3 m-3">
              <label>Username</label>
              {% render_field userForm.username class="form-control" autocomplete="off" placeholder="Username" %}
            </div>
            <div class="form-group p-3 m-3">
              <label>Password</label>
              {% render_field userForm.password class="form-control" autocomplete="off" placeholder="Password" %}
            </div>
            <div class="form-group p-3 m-3">
              <label>Address</label>
              {% render_field customerForm.address class="form-control" autocomplete="off" placeholder="Address" %}
            </div>
            <div class="form-group p-3 m-3">
              <label>Contact</label>
              {% render_field customerForm.mobile class="form-control" autocomplete="off" placeholder="Mobile" %}
            </div>
            <div class="form-group p-3 m-3">
              <label>Profile</label>
              {% render_field customerForm.profile_pic class="form-control" placeholder="Profile Picture" %}
            </div>
            <div class="d-grid p-3 m-3">
              <button type="submit" class="btn btn-block fw-bold text-uppercase submit-btns">Save</button>
            </div>
            
      </form>
  </div>
</div>
<br/><br/><br/>

{% endblock content %}
