{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}

<style>
/*START PRODUCT SECTION*/
.title {
  color: aliceblue;
  background-color: orange;
  letter-spacing: 0.4px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}

.cards {
  padding: 10px 20px;
  margin: 20px 10px;
  border-radius: 10px; 
  transition: all 0.3s;
}


.cards:hover {
  box-shadow: 3px 3px 10px rgba(215, 210, 210, 0.5), -3px -3px 10px rgba(215, 210, 210, 0.5);
}

.card-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-boxes {
  height: 90px;
}

.product-imgs {
  object-fit: cover;
}

.text-orange {
  color: orange;
}

.services-boxes {
  background-color: #f4f4f4;
}
/*END PRODUCT SECTION*/
</style>

 <!--start banner-->
 <section id="corporation" class="px-5">
  <div class="container-fluid">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="bg-danger active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="bg-danger"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="bg-danger"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active carouselitems">
          <img src="../../static/images/banner/banner-1.jpg" class="carouselimgs" alt="freshfood"/>
          <div class="carouseltexts">
            <h3 class="text-danger mb-3">Trending Item</h3>
            <div class="banner-text-div">
              <h1 class="fw-bold">WOMEN'S LATEST FASHION SALE</h1>
            </div>
            <h3 class="text-secondary">starting at<span class="h5 fw-bold"> 50000 MMK</span></h3>
            <button class="btn btn-danger mt-4">SHOP NOW</button>
          </div>
        </div>

        <div class="carousel-item carouselitems">
          <img src="../../static/images/product/nikeAirJordan-2.webp" class="carouselimgs" alt="freshfood"/>
          <div class="carouseltexts">
            <h3 class="text-danger mb-3">Trending Item</h3>
            <div class="banner-text-div">
              <h1 class="fw-bold">WOMEN'S LATEST FASHION SALE</h1>
            </div>
            <h3 class="text-secondary">starting at <span class="h5 fw-bold"> 5000 MMK</span></h3>
            <button class="btn btn-danger mt-4">SHOP</button>
          </div>
        </div>

        <div class="carousel-item carouselitems">
          <img src="../../static/images/banner/banner-3.jpg" class="carouselimgs" alt="freshfood"/>
          <div class="carouseltexts">
            <h3 class="text-danger mb-3">Trending Item</h3>
            <div class="banner-text-div">
              <h1 class="fw-bold">WOMEN'S LATEST FASHION SALE</h1>
            </div>
            <h3 class="text-secondary">starting at <span class="h5 fw-bold"> 10000 MMK</span></h3>
            <button class="btn btn-danger mt-4">Read More</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- end banner -->

<!-- Start Feature Section  -->
<div class="p-5">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="services-boxes p-4 m-2 d-flex justify-content-center align-items-center">
        <img src="../../static/images/feature/service-icon-1.svg" width="50px" />
        <h5 class="px-3">Free Shipping</h5>
      </div>    
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="services-boxes p-4 m-2 d-flex justify-content-center align-items-center">
        <img src="../../static/images/feature/service-icon-2.svg" width="50px" />
        <h5 class="px-3">Easy Returns</h5>
      </div>    
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="services-boxes p-4 m-2 d-flex justify-content-center align-items-center">
        <img src="../../static/images/feature/service-icon-3.svg" width="50px" />
        <h5 class="px-3">Secure Payment</h5>
      </div>    
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="services-boxes p-4 m-2 d-flex justify-content-center align-items-center">
        <img src="../../static/images/feature/service-icon-4.svg" width="40px" />
        <h5 class="px-3">Special Support</h5>
      </div>    
    </div>
  </div>
</div>
<!-- End Feature Section  -->

<!-- Start Product Section -->
<section class="p-4">
  <div class="d-flex justify-content-center">
    <h5 class="text-center title main-titles">Products</h5>
  </div>  
  {%if products%}
  <div class="row px-4">
    {% for p in products %}
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card cards">
        <div class="card-imgs">
          <img src="{% static p.product_image.url %}" alt="product" class="product-imgs" width="250px" height="250px">
        </div>
        <div class="card-bodys my-3">
          <div class="description-boxes">
            <h6 class="text-danger text-uppercase">{{p.name}}</h6>
            <p class="text-secondary">{{p.description}}</p>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <h5>{{p.price}} MMK</h5>
            <a href="{% url 'add-to-cart' p.id  %}" class="btn"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}   
  </div>
  {%else%}
  <div class="container text-center p-5 my-5">
    <img src="../../static/images/icon/no-product.png" width="200px" alt="no-product" />
    <h5 class="text-orange">No Product Found</h5>
  </div>
  {%endif%}        
</section>
<!-- End Product Section -->
<script>
const navs = document.querySelectorAll('.navs');
const category = document.querySelector('.main-titles');
const hide = document.querySelectorAll('.hides');

hides.forEach(hide=> {
  console.log(hide);
})

navs.forEach(nav=> {
  nav.addEventListener('click',()=>{
    console.log(nav.textContent);
    category.textContent = nav.textContent;
    console.log(category.textContent);
  })
})

</script>

<br/><br/><br/><br/><br/><br/>
{% endblock content %}
